/**************************************************************************************
*
* Desenvolvido por BRYAN LIMA
* GitHub: https://github.com/bryan-lima
*
* Atividade Acadêmica - Jogo da Memória
* Análise e Desenvolvimento de Sistemas - ADS
* Repositório deste projeto: https://github.com/bryan-lima/memory-game
*
**************************************************************************************/

@font-face {
    font-family: 'pirulenrg';
    src: url('fonts/pirulenrg.eot');
    src: url('fonts/pirulenrg.eot') format('embedded-opentype'),
         url('fonts/pirulenrg.woff2') format('woff2'),
         url('fonts/pirulenrg.woff') format('woff'),
         url('fonts/pirulenrg.ttf') format('truetype'),
         url('fonts/pirulenrg.svg#pirulenrg') format('svg');
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
    a.pirulenrg {
        font-family: pirulenrg;
        font-size: 1.05rem;
    }

    #logo-navbar-brand {
        width: 34px;
        height: 32px;
    }

}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    a.pirulenrg {
        font-family: pirulenrg;
        font-size: 1.5rem;
    }

    #logo-navbar-brand {
        width: 42px;
        height: 42px;
    }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { 

}

.h1-pirulenrg {
    font-family: pirulenrg;
    font-size: 2.5rem;
}

.title-pirulenrg {
    font-family: pirulenrg;
    font-size: 3.0rem;
}

.lead-pirulenrg {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: pirulenrg;
}

.lead2-pirulenrg {
    font-size: 1.50rem;
    font-weight: 300;
    font-family: pirulenrg;
}

.navbar-toggler-icon.personalizado {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.text-footer-gray {
    color: #666666;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: #222;
}

.hr-white {
    background-color: #FFFFFF;
}

.hr-gray {
    background-color: #666666;
}